/*404错误页面样式*/
.uv{
    background-color: coral;
}

/*字体样式*/
.fn{
    text-align: center;
    font-family: 微软雅黑 serif;
    font-weight: bold;
    font-size: 300px;
    margin: 10% 0;
}

/*h1样式*/
.unc{
    /*text-align: center;*/
    font-family: 微软雅黑 serif;
}